# Global build-related files
node_modules
yarn-error.log

# NPM "fbt-runtime" package folder for publishing
./fbt-runtime

# MacOS
.DS_Store

# demo-app build artifacts
demo-app/.enum_manifest.json
demo-app/.source_strings.json
demo-app/.src_manifest.json
demo-app/output
demo-app/src/translatedFbts
demo-app/src/translatedFbts.json
demo-app/yarn-error.log

live-demo-app/.enum_manifest.json
live-demo-app/.source_strings.json
live-demo-app/.src_manifest.json
live-demo-app/output
live-demo-app/src/translatedFbts.json
live-demo-app/yarn-error.log

# Publisehd NPM modules
fbt-runtime/**

# documentation build artifacts
website/build/
