/**
 * @providesModule intlInlineMode
 */

.intlInlineMode/normal {
  font-style: normal;
}

.intlInlineMode/translatable,
.intlInlineMode/approvable,
.intlInlineMode/reportable {
  background: none;
  font-style: normal;
  padding: 0px;
  width: auto;
}

.intlInlineMode/reportable {
  border-bottom: 1px solid #f99;
}

.intlInlineMode/translatable,
.intlInlineMode/approvable {
  border-bottom: 1px solid #999;
}

.intlInlineMode/translatable:hover,
.intlInlineMode/approvable:hover,
.intlInlineMode/reportable:hover {
  background-color: #fcc;
  border-top: 1px solid #ccc;
  cursor: help;
}
